# Merging data frames

Merging in Pandas is similar to joining tables with SQL. If you are a SQL user then you will feel right at home.  

The basic idea is to combine the attributes of several dataframes based on a common value.  In this case we are adding new columns to an existing dataframe where with the concat method we were adding new rows.

Lets import some data

In [18]:
%matplotlib inline
import geopandas as gpd
import pandas as pd
import numpy as np

bairro = gpd.read_file("data/BAIRRO_POPULAR.shp")
imoveis = gpd.read_file("data/house_bh.csv")
bairro.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          487 non-null    float64
 1   CODIGO      487 non-null    float64
 2   NOME        487 non-null    object
 3   AREA_KM2    487 non-null    float64
 4   PERIMETR_M  487 non-null    float64
 5   geometry    487 non-null    geometry
dtypes: float64(4), geometry(1), object(1)
memory usage: 23.0+ KB

In [17]:
imoveis.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5981 entries, 0 to 5980
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        5981 non-null   object
 1   adm-fees       5981 non-null   object
 2   garage-places  5981 non-null   object
 3   price          5981 non-null   object
 4   rooms          5981 non-null   object
 5   square-foot    5981 non-null   object
 6   neighborhood   5981 non-null   object
 7   city           5981 non-null   object
 8   latitude       5981 non-null   object
 9   longitude      5981 non-null   object
 10  geometry       0 non-null      geometry
dtypes: geometry(1), object(10)
memory usage: 514.1+ KB

In [15]:
imoveis_bairro=pd.merge(bairro,imoveis,how='left', left_on='NOME', right_on='neighborhood')

In [10]:
imoveis_bairro

,address,adm-fees,garage-places,price,rooms,square-foot,neighborhood,city,latitude,longitude,geometry_x,ID,CODIGO,NOME,AREA_KM2,PERIMETR_M,geometry_y
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,207.0,834.0,Jardim Felicidade,0.811,4484.895,"POLYGON ((611893.011 7806896.643, 612006.128 7..."
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,177.0,802.0,Solimões,0.280,2459.134,"POLYGON ((612143.299 7807875.069, 612149.121 7..."
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,130.0,750.0,Planalto,2.500,10097.252,"POLYGON ((609676.978 7807928.199, 609688.638 7..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,447.0,1456.0,Vila Primeiro de Maio,0.164,1955.317,"POLYGON ((612124.984 7803221.641, 612090.731 7..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,200.0,827.0,Trevo,1.916,8063.288,"POLYGON ((603126.658 7806926.049, 603127.903 7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,244.0,1166.0,Mineirão,0.394,2768.098,"POLYGON ((601324.879 7785562.653, 601360.798 7..."
483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,144.0,768.0,Santa Lúcia,2.110,9646.137,"POLYGON ((610121.611 7793273.353, 610036.530 7..."
484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,124.0,742.0,Bandeirantes,4.776,13884.018,"POLYGON ((603530.377 7803985.581, 603534.838 7..."
485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,191.0,816.0,Maria Virgínia,0.575,5975.119,"MULTIPOLYGON (((610726.712 7802468.961, 610729..."
486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,151.0,775.0,Santa Terezinha,1.476,5327.344,"POLYGON ((603754.434 7802940.018, 603888.545 7..."

The eagle_surveys table is an example where there are many entries for each entry in the eagle GeoDataFrame. A one to many relationship. In this case each record in the eagle_sources data frame represents the results of an eagle nest surveys.  Surveys were conducted every week during the eagle breeding season so there are 1997 survey records covering 67 eagle nests.

In [ ]:
eagle_surveys

Lets add a code field to the eagles data and populate it with a random number from 1 to 4.

In [ ]:
eagle['code']=np.random.randint(1,5,size=67)
eagle.sort_values('nest_id')

Now lets merge the eagle table with the eagle_source table into a new table called eagle_merge.  The merge command is called on the Pandas object itself.  It takes two data frames as parameters, the first is considered the left data frame and the second is considered the right data frame.  This will be important later on.  

The how parameter specifies the type of join, possibliities include inner, left, right, and outer which will be familiar to SQL users. We'll discuss this later on.  

The on parameter specifies the field name to join on and can be used when the field name is the same in both tables.

In [ ]:
eagle_merge = pd.merge(eagle, eagle_sources, how='inner', on='code').sort_values('nest_id')
eagle_merge

The source field can now be used like any other field in the table, for instance as the index for a pivot table, but it doesn't take up any more space on disk.

In [ ]:
pd.pivot_table(eagle_merge, index=['source', 'status'], values='nest_id', aggfunc='count')

Our new dataset can also be merged again with the eagle_survey data frame. This results in a one to many relationship.  **NOTE** In this example the columns we are joining on have different names so we cannot use the *on* parameter, instead we have to specify the column names for each data frame using the *left_on* and *right_on* parameters.

In [ ]:
eagle_merge2 = pd.merge(eagle_merge, eagle_surveys, how='inner', left_on='nest_id', right_on='nest').sort_values(['nest_id', 'date'])
eagle_merge2

Notice that in this case we end up with 1766 rows even though there are 1997 rows in the eagle_surveys table.  This is because we are doing an "inner join" which means that the resulting dataframe only has a record for cases where there is a match between the left_on and right_on columns.  Another possibility is a "left join" which means that there is at least one record for every row in the left table whether or not there is a corresponding record in the right table.  If there is not a corresponding record in the right table then the field values for the right table will be NaN.

In [ ]:
eagle_merge2 = pd.merge(eagle_merge, eagle_surveys, how='left', left_on='nest_id', right_on='nest').sort_values(['nest_id', 'date'])
eagle_merge2

In this case we have the same number of records as we did with an inner join which tells us that there are no records in the left table that have no corresponding record in the right table.

With a "right join" there will be a record for every record in the right table whether or not there is a corresponding record in the left table.

In [ ]:
eagle_merge2 = pd.merge(eagle_merge, eagle_surveys, how='right', left_on='nest_id', right_on='nest').sort_values(['nest_id', 'date'])
eagle_merge2

We can identify the surveys that have no corresponding record in the eagle table by summarizing the resulting dataframe by nest and getting a count of the nest_id field.

In [ ]:
eagle_merge2.groupby(by='nest').count()['nest_id'].sort_values()

As with concatenation, Pandas has a rich ecosystem for merging and joining data and there is a lot of additional functionality that canbe achieved with the merge method as well as a good bit of overlap with other methods.  Again I would refer you to the documentation for specifics on each method and in particular the page in the Pandas user guide on [Merge, Join, Concatenate, etc](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) for more information